@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.foto{
    width: 100%;
   
}
.img {
  position: relative;
}

.img h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); //controla a altura
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
    
}
.title{
    padding: 15px;
}
.text{
    display: flex;
    width: 100%;
}
.img h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 70%); //controla a altura
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 5px;

}
.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   transition: transform 0.5s ease;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.whats i{
     font-size: 28px;
     color: white;
}
.whats:hover{
    transform: scale(1.1) rotate(10deg);
}

.louvor-foto{
    height: 600px;
    width: 600px;
    margin: 10px;
    border-radius: 25px;
    transition: transform 0.6s ease-in-out;
}
.louvor-foto:hover{
    transform: scale(1.02);
}

.card-louvor{
    background: linear-gradient(to right,
            /* Direção: da esquerda para a direita */
            #330000 0%,
            /* 1. Início (Esquerda): Quase Preto/Tijolo Escuro */
            #8B0000 35%,
            /* 2. Transição: Vermelho Escuro */
            #8B0000 50%,
            /* 3. Centro: Laranja/Vermelho Vivo (O ponto mais claro) */
            #8B0000 65%,
            /* 4. Transição: Voltando para Vermelho Escuro */
            #330000 100%
            /* 5. Fim (Direita): Quase Preto/Tijolo Escuro */
        );
        flex-direction: row;
        display: flex;
         align-items: center;
         gap: 20px;
}
.line {
  width: 97%;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}
.texto {
  display: flex;
  flex-direction: column;
}
.texto span{
   color: white;
   text-align: center;
   font-family: "Inria Serif", serif;
   font-size: 20px;
}
.texto p{
   color: white;
   text-align: center;
   font-family: "Inria Serif", serif;
   font-size: 15px;
}
.ministerios {
    display: grid;
    grid-template-columns: repeat(2, 1fr); //2 colunas
    gap: 20px;
    justify-content: center;
    margin: 40px 10px 10px 10px;
}
@media (max-width: 576px){ //Card responsivo pro celular
    .ministerios{
        grid-template-columns: repeat(1fr);
    }
}
a{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card img {
  width: 100%;
  height: 100%;
  max-height: 220px; /* ajuste conforme seu card */
  object-fit: cover; /* corta sem distorcer */
  border-radius: 10px;
}
.btn{
   background: linear-gradient(to bottom, #000000 0%, #333333 100%);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 190px;
}
.btn a{
    color: white;
}