<app-nav-bar></app-nav-bar>
<main class="principal">

    <div class="img">
        <img class="foto" src="/louvor.png" alt="">
        <div class="text">
            <h1>Ministérios DIFLEN</h1>
            <h2>O nosso objetivo é o mesmo: derramar o Amor de Deus sobre as pessoas!</h2>
        </div>
    </div>
    <section>
        <div [class.card-louvor]="isDeskTop$ | async" 
             [class.card-louvor-mobile]="((isMobile$ | async) || (isTablet$ | async))">
            <img class="louvor-foto" src="/louvor2.jpeg" alt="">
            <div class="texto">
                <span>
                    “O que vocês fizerem façam de todo o coração, como se estivessem servindo o Senhor e não as pessoas.
                    Lembrem que o Senhor
                    lhes dará como recompensa aquilo que ele tem guardado para o seu povo, pois o verdadeiro Senhor que
                    vocês servem é Cristo"
                </span>
                <p>
                    Colossenses 3:23–24
                </p>
                <div class="line"></div>
                <span>
                    Cremos, verdadeiramente, que ser um voluntário na Igreja (em qualquer área ou ministério) é uma
                    tarefa tão santa quanto ministrar o louvor ou pregar a Palavra. O nosso objetivo é o mesmo: derramar
                    o Amor de Deus sobre as pessoas!
                </span>
                <div class="line"></div>
                <span>
                    Quando, ao final de um culto, uma pessoa decide se entregar totalmente a Cristo, todas as pessoas
                    que serviram naquele culto têm participação nisso! Somos um time, e o papel que cada voluntário
                    desempenha é essencial para que mais pessoas conheçam a Jesus.
                </span>
                <div class="line"></div>
                <span>
                    Todas as atividades que os voluntários exercem se tornam as mais empolgantes e importantes do mundo
                    quando se entende que por trás disso tudo existe um propósito: salvar vidas!
                </span>
            </div>
        </div>
        <!--Aqui começa os cards dos ministerios-->
        
       <div class="ministerios-grid" 
     [style.grid-template-columns]="(isMobile$ | async) ? '1fr' : 'repeat(2, 1fr)'">
      
      <div class="card mb-3 shadow-sm" *ngFor="let min of listaMinisterios">
        <div class="row g-0 align-items-center">
          <div [class.col-md-4]="!(isMobile$ | async)" [class.col-12]="isMobile$ | async">
            <img [src]="min.img" class="img-fluid rounded-start card-img-fit" [alt]="min.nome">
          </div>
          <div [class.col-md-8]="!(isMobile$ | async)" [class.col-12]="isMobile$ | async">
            <div class="card-body">
              <h5 class="card-title">{{ min.nome }}</h5>
              <p class="card-text">{{ min.texto }}</p>
              <div class="btn-container">
                <button (click)="abreWhats(min.nome)" class="btn-voluntario">
                  Quero ser voluntário
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<a href="#" class="whats" target="_blank" aria-label="WhatsApp">
    <i class="bi bi-whatsapp"></i>
</a>
<app-footer></app-footer>