<app-nav-bar></app-nav-bar>
<main class="principal">

    <div class="img">
        <img class="foto" src="/louvor.png" alt="">
        <div class="text">
            <h1>Ministérios DIFLEN</h1>
            <h2>O nosso objetivo é o mesmo: derramar o Amor de Deus sobre as pessoas!</h2>
        </div>
    </div>
    <section>
        <div class="card-louvor">
            <img class="louvor-foto" src="/louvor2.jpeg" alt="">
            <div class="texto">
                <span>
                    “O que vocês fizerem façam de todo o coração, como se estivessem servindo o Senhor e não as pessoas.
                    Lembrem que o Senhor
                    lhes dará como recompensa aquilo que ele tem guardado para o seu povo, pois o verdadeiro Senhor que
                    vocês servem é Cristo"
                </span>
                <p>
                    Colossenses 3:23–24
                </p>
                <div class="line"></div>
                <span>
                    Cremos, verdadeiramente, que ser um voluntário na Igreja (em qualquer área ou ministério) é uma
                    tarefa tão santa quanto ministrar o louvor ou pregar a Palavra. O nosso objetivo é o mesmo: derramar
                    o Amor de Deus sobre as pessoas!
                </span>
                <div class="line"></div>
                <span>
                    Quando, ao final de um culto, uma pessoa decide se entregar totalmente a Cristo, todas as pessoas
                    que serviram naquele culto têm participação nisso! Somos um time, e o papel que cada voluntário
                    desempenha é essencial para que mais pessoas conheçam a Jesus.
                </span>
                <div class="line"></div>
                <span>
                    Todas as atividades que os voluntários exercem se tornam as mais empolgantes e importantes do mundo
                    quando se entende que por trás disso tudo existe um propósito: salvar vidas!
                </span>
            </div>
        </div>
        <!--Aqui começa os cards dos ministerios-->
        
        <div class="ministerios">
            <!--CARD 1-->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/min-atmosfera.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Atmosfera</h5>
                            <p class="card-text">O Ministério da Atmosfera é quem faz todo mundo se sentir em casa. Com alegria, cuidado e um sorriso no rosto, preparamos o ambiente para que cada pessoa viva algo especial com Deus desde o primeiro passo na igreja.</p>
                            <div class="btn">
                                <a (click)="abreWhats('Atmosfera')" style="cursor: pointer;">Quero ser voluntário</a>
                            </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        
        <!--CARD 2-->
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/midia.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Midia</h5>
                        <p class="card-text">Seja na luz, na live, nos telões, nos stories ou nas fotos, o ministério de mídia é pra quem quer usar a criatividade pra servir a Deus. Aqui, cada detalhe comunica algo maior: o amor de Jesus, alcançando pessoas dentro e fora do culto.</p>
                        <div class="btn">
                             <a (click)="abreWhats('Midia')" style="cursor: pointer;">Quero ser voluntário</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!--CARD 3-->
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/min-kids.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Kids</h5>
                        <p class="card-text">Com muita criatividade, alegria e amor, levamos a Palavra de Deus de um jeito leve e divertido, ajudando cada criança a crescer com valores firmados em Jesus.</p>
                        <div class="btn">
                            <a (click)="abreWhats('Kids')" style="cursor: pointer;">Quero ser voluntário</a>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        <!--CARD 4-->
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="min-louvor.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Louvor</h5>
                        <p class="card-text">O Ministério de Louvor existe para levar pessoas à presença de Deus através da música. Com vozes, instrumentos e corações entregues, adoramos a Deus e criamos um ambiente onde vidas são tocadas e Jesus é exaltado.</p>
                        <div class="btn">
                             <a (click)="abreWhats('Louvor')" style="cursor: pointer;">Quero ser voluntário</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</div>





    </section>
</main>
<!--FOOTER-->
<a href="#" class="whats" target="_blank" aria-label="WhatsApp">
    <i class="bi bi-whatsapp"></i>
</a>
<app-footer></app-footer>