
.foto{
    width: 100%;
    height: 100%;
}
.img {
  position: relative;
}

.img h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); //controla a altura
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
    
}