<div class="footer">
    <div class="img">
        <img src="/logo.png" alt="" srcset="">
    </div>
   
    <div class="icons">
        <a href="https://www.instagram.com/diflenitapetininga/">
            <i class="bi bi-instagram"></i>
        </a>
         <a href="w.app/carwashdiflen">
            <i class="bi bi-whatsapp"></i>
         </a>
         <a href="">
            <i class="bi bi-youtube"></i>
         </a>
         <a href="">
            <i class="bi bi-spotify"></i>
         </a>
    </div>
    <div class="texto">
        <h2>DIFLEN ITAPETININGA</h2>
        <span>Discipulando e Formando Líderes Em Nações.</span>
        <h3>Venha nos conhecer e adorar a Jesus juntos!!</h3>
    </div>  
    <footer class="d-flex justify-content-center m-2 align-items-center py-3 my-4">
    <p class="mb-0 text-white text-nowrap">&copy; 2026 DIFLEN ITAPETININGA</p>
</footer>
</div>

