  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Remove bordas/outlines acidentais que podem causar a linha branca */
    border: none; 
  }

  .footer {
    min-height: 200px;
    height: auto;
    background: linear-gradient(to bottom, #000000 0%, #333333 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    overflow: visible; 
  }
  

  .img {
    margin-bottom: -60px; 
    line-height: 0;
  }

  .logo {
    width: 240px;
    display: flex; 
  }

  .icons {
    display: flex;
    gap: 15px; 
    margin-left: 40px; 
  }

  .icons i {
    font-size: 30px;
    color: white;
  }

  .texto {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 40px;
      top: 100px; 
    text-align: right;
  }

  .texto h2 {
    font-size: 24px;
    margin: 0;
  }
  .footer.tablet .logo {
  width: 200px; 
}
.footer.tablet .texto {
  right: 20px; 
  top: 80px;
}
.footer.mobile {
  align-items: center; 
  padding-bottom: 30px;
}

.footer.mobile .img {
  margin-bottom: 0; 
}

.footer.mobile .icons {
  margin-left: 0; 
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer.mobile .texto {
  position: static; 
  text-align: center;
  padding: 0 20px;
}

.footer.mobile .texto h2 {
  font-size: 20px;
}
