<div class="container-endereco">
<div class="endereco" [style.background]="luzStyle">

    <div id="map">
        <div class="icon">
            <i class="bi bi-geo-alt"></i>
            <h3>DIFLEN ITAPETININGA</h3>
        </div>
        <div class="text">
            <span>R. Benedita Silva Rosa, 2400 - Vila Carolina</span>
            <div class="hora">
                <p>DIFLEN</p>
                <p>Sabado: Às 19h</p> 
            </div>
            <div class="button">
            <a href="https://www.google.com/maps/place/Paz+Church+Itapetininga/data=!4m2!3m1!1s0x0:0x8997d1e5f460a774?sa=X&ved=1t:2428&ictx=111">Acesse o mapa!</a>
        </div> 
        </div>
        
    </div>
</div>
</div>