<div class="card mb-3">
  <div class="row g-0">

    <div class="col-md-4">
      <img
        [src]="celula.imagem"
        class="img-fluid rounded-start"
        [alt]="celula.nome">
    </div>

    <div class="col-md-8">
      <div class="card-body">

        <!-- Nome da célula -->
        <h5 class="card-title">{{ celula.nome }}</h5>

        <!-- Líderes -->
        <span class="card-lideres">
          {{ celula.lideres }}
        </span>

         <!-- Dia e hora -->
        <p class="card-text">
          {{ celula.diaHora }}
        </p>

       
        <div class="btn">
          <a (click)="abreWhats()" style="cursor:pointer">
            Quero participar
          </a>
        </div>

      </div>
    </div>

  </div>
</div>