@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   transition: transform 0.5s ease;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.whats i{
     font-size: 28px;
     color: white;
}
.whats:hover{
    transform: scale(1.1) rotate(10deg);
}
.foto{
    width: 100%;
    max-height:700px;
    object-fit: cover;
  
}

.img h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); //controla a altura
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.img span {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); //controla a altura
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  font-family: "Inria Serif", serif;
}

.eventos {
  width: 100%;
  overflow-x: hidden;
}

.projeto {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 90px 10%;
}


.fundo1 {
  background: linear-gradient(135deg, #7a0000, #b30000);
  color: white;
}

.fundo2 {
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  color: white;
  flex-direction: row-reverse;
}

/* ===== IMAGEM ===== */
.evento-img {
  width: 420px;
  height: 380px;
  object-fit: cover;
  border-radius: 22px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  transition: transform 0.6s ease-in-out;
}
.evento-img:hover{
  transform: scale(1.02);
}
.evento-text {
  max-width: 600px;
}

.evento-text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.evento-text p {
  font-size: 18px;
  line-height: 1.6;
   font-family: "Inria Serif", serif;
}


.link-evento {
  display: inline-block;
  margin-top: 26px;
  padding: 14px 30px;
  border-radius: 30px;
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-evento:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.35);
}


@media (max-width: 992px) {
  .evento {
    flex-direction: column;
    text-align: center;
    padding: 70px 6%;
  }

  .fundo2 {
    flex-direction: column;
  }

  .evento-img {
    width: 100%;
    max-width: 420px;
    height: auto;
  }

  .evento-texto h2 {
    font-size: 34px;
  }

  .evento-texto p {
    font-size: 16px;
  }
}

