<app-nav-bar></app-nav-bar>
<a href="#" class="whats" target="_blank" aria-label="WhatsApp">
    <i class="bi bi-whatsapp"></i>
</a>
<main class="principal">
    <div class="img" [class.modo-celular]="isMobile$ | async">
        <img src="/foto22.png" alt="" class="foto">
        <div class="text-img">
            <h1>Eventos do DIFLEN</h1>
            <span>Esses foram alguns dos eventos do DIFLEN em 2025</span>
        </div>
    </div>
</main>

<section class="eventos">
    <section class="projeto fundo1">
        <img src="/camp25.png" alt="" class="evento-img">

        <div class="evento-text">
            <h2>DIFLEN CAMP 2025</h2>
            <p>
                O DIFLEN Camp 2025 foi um projeto intenso e cheio da presença de Deus.
                Vivemos dias marcados por cultos poderosos, louvor, comunhão e palavras
                que transformaram vidas.
                <strong>2026 tem muito mais por vir!</strong>
            </p>
            <a href="https://marketingdesigners.my.canva.site/diflencamp" class="link-evento">Faça sua inscrição pro
                camp 26</a>
        </div>
    </section>

<section class="projeto fundo2">
    <img src="/vigilia.jpeg" alt="" class="evento-img">

    <div class="evento-text">
        <h2>Vigília DIFLEN</h2>
        <p>
            Vivemos uma vigília intensa e cheia da presença de Deus. Foi um tempo marcante de oração, louvor e entrega,
            onde tivemos a oportunidade de apresentar nosso jejum e buscar mais do sobrenatural em nossas vidas.
            Uma noite de comunhão, unidade e experiências que fortaleceram nossa fé e deixaram marcas profundas em todos
            que participaram.

        </p>
    </div>
</section>
</section>

<section class="projeto fundo1">
    <img src="/jejum.png" alt="" class="evento-img">

    <div class="evento-text">
        <h2>JEJUM</h2>
        <p>
            Em 2025, vivemos um tempo intenso de consagração e busca ao Senhor através do jejum. Foram dias de renúncia,
            oração e alinhamento do coração, onde escolhemos ser nutridos espiritualmente e fortalecer nossa intimidade
            com Deus.
            Mais do que abrir mão de alimentos, foi um período de crescimento espiritual, entrega e dependência total do
            Senhor, que marcou vidas e fortaleceu nossa fé.
        </p>
    </div>
</section>


<section class="projeto fundo2">
    <img src="/diflen-mulheres.png" alt="" class="evento-img">

    <div class="evento-text">
        <h2>DIFLEN PURPOSE GIRLS</h2>
        <p>
            Vivemos uma tarde super especial, preparada com muito carinho, cheia de expectativa pelo que Deus fez em
            nosso meio. Foi um tempo marcado por ministração, adoração e muita comunhão, reunindo as meninas do DIFLEN
            tanto do START quanto do NIGHT.
            Um encontro leve, cheio de amor, conexão e aprendizado, que fortaleceu nossos laços e nossa fé
        </p>
    </div>
</section>


<section class="projeto fundo1">
    <img src="/carWash.png" alt="" class="evento-img">

    <div class="evento-text">
        <h2>CAR WASH</h2>
        <p>
            A segunda edição do nosso CarWash foi um sucesso! Separamos um dia especial para servir com excelência,
            oferecendo lavagem externa, limpeza interna e até o serviço de leva e traz, tudo com muito capricho e
            dedicação.
            Mais do que cuidar dos carros, esse projeto teve um propósito ainda maior: arrecadar recursos para o DIFLEN
            Camp 2026. Cada detalhe contribuiu para que esse sonho continuasse sendo construído, unindo serviço,
            comunhão e propósito
        </p>
    </div>
</section>






<app-footer></app-footer>