<nav class="menu" 
[class.modo-celular]="isMobile$ | async" 
     [class.modo-tablet]="isTablet$ | async">
    <img class="logo" src="/logo.png" alt="logo">

    <div class="menu-links">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/ministerios">Ministerios</a></li>
            <li><a routerLink="/celulas">Celulas</a></li>
            <li><a routerLink="/depoimentos">Depoimentos</a></li>
            <!-- <li><a href="#">Eventos</a></li>-->
            <li><a routerLink="/projetos">Projetos</a></li>
            <li><a href="https://marketingdesigners.my.canva.site/diflencamp">Acampamento</a></li>
        </ul>
    </div>
</nav>