@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right,
            /* Direção: da esquerda para a direita */
            #330000 0%,
            /* 1. Início (Esquerda): Quase Preto/Tijolo Escuro */
            #8B0000 35%,
            /* 2. Transição: Vermelho Escuro */
            #8B0000 50%,
            /* 3. Centro: Laranja/Vermelho Vivo (O ponto mais claro) */
            #8B0000 65%,
            /* 4. Transição: Voltando para Vermelho Escuro */
            #330000 100%
            /* 5. Fim (Direita): Quase Preto/Tijolo Escuro */
        );
    display: flex;
}

ul {
    display: flex;
    flex-direction: row; /* Força horizontal */
    flex-wrap: nowrap;   /* PROÍBE quebrar linha */
    list-style: none;
    align-items: center;
    width: auto;
}
li {
    list-style: none;
    font-family: "BBH Bogle", sans-serif;
    text-align: center;
    align-items: center;
    color: white;
}



.logo {
    width: 150px;
    height: 97px;
}

.menu-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; /* Garante que nada saia da linha */
}
.menu a {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 15px;
    display: block;
    font-size: 25px;
    font-family: "BBH Bogle", sans-serif;

}

.menu a::after {
    content: "";
    width: 0%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}

.menu a:hover::after {
    width: 100%;

}
/* Quando for TABLET */
.menu.modo-tablet .logo {
    width: 110px; /* Diminui a logo para sobrar espaço lateral */
    height: auto;
}

.menu.modo-tablet ul {
    gap: 8px; /* Diminui o espaço entre os links */
}

.menu.modo-tablet a {
    font-size: 16px;
    padding: 10px 5px;
}

/* Quando for CELULAR */
.menu.modo-celular .logo {
    width: 80px; /* Logo bem menor para os links caberem ao lado */
    height: auto;
}

.menu.modo-celular .menu-links {
    justify-content: center; /* Centraliza o bloco de links no espaço que sobrou */
}

.menu.modo-celular ul {
    gap: 2px; /* Espaço mínimo entre links */
}

.menu.modo-celular a {
    font-size: 9px; /* Fonte reduzida para caber os 6 links na horizontal */
    padding: 5px 3px;
    white-space: nowrap; /* Impede que palavras como ACAMPAMENTO quebrem */
    letter-spacing: -0.5px; /* Aperta as letras para ganhar espaço */
}