.foto{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.img h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); //controla a altura
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.text-img{
    font-size: 80px;
}

.celula-foto{
    margin: 20px;
    border-radius: 15px;
    transition: transform 0.6s ease-in-out;
}
.celula-foto:hover{
      transform: scale(1.02);
}
.sobre{
     background: linear-gradient(to right,
            /* Direção: da esquerda para a direita */
            #330000 0%,
            /* 1. Início (Esquerda): Quase Preto/Tijolo Escuro */
            #8B0000 35%,
            /* 2. Transição: Vermelho Escuro */
            #8B0000 50%,
            /* 3. Centro: Laranja/Vermelho Vivo (O ponto mais claro) */
            #8B0000 65%,
            /* 4. Transição: Voltando para Vermelho Escuro */
            #330000 100%
            /* 5. Fim (Direita): Quase Preto/Tijolo Escuro */
        );    
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        padding: 20px; 
}

.text {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 0px; 
    flex-direction: column;
    
}

.text h1 {
    margin: 10px;
    color: white; 
    font-size: 40px;
    text-align: center;
}
.text span{
    color: white;
    font-size: 20px;
    max-width: 900px;   
}
.lista-celulas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px 30px;
}

/* Mobile */
@media (max-width: 900px) {
  .lista-celulas {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   transition: transform 0.5s ease;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.whats i{
     font-size: 28px;
     color: white;
}
.whats:hover{
    transform: scale(1.1) rotate(10deg);
}