@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.principal {
    width: 100%;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 411px;
    overflow: hidden;
}

.apresentacao {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
    text-align: center;
    transform: translateY(-15%); //move o texto todo pra cima
    padding: 0 20px;
    
}

.hero-text h1 {
    font-size: 58px;
}

.hero-text span {
    font-size: 22px;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

}

.text-principal {
    font-family: "Oswald", serif;
    color: white;
    font-size: 35px;
}

.text-passagem {
    color: white;
    font-size: 18px;
    font-family: "Inria Serif", serif;
}

.sobre2 p {
    color: white;
    font-family: "Inria Serif", serif;
}

.hero {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right,
            /* Direção: da esquerda para a direita */
            #330000 0%,
            /* 1. Início (Esquerda): Quase Preto/Tijolo Escuro */
            #8B0000 35%,
            /* 2. Transição: Vermelho Escuro */
            #8B0000 50%,
            /* 3. Centro: Laranja/Vermelho Vivo (O ponto mais claro) */
            #8B0000 65%,
            /* 4. Transição: Voltando para Vermelho Escuro */
            #330000 100%
            /* 5. Fim (Direita): Quase Preto/Tijolo Escuro */
        );
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    align-items: stretch;
}

.card .card-img-top {
    height: 200px !important;
    object-fit: cover;
}



.info {
    background: linear-gradient(to bottom, #000000 0%, #333333 100%);
    width: fit-content;
    min-width: 110px;
    border-radius: 20px;
    margin: 15px auto;
    padding: 0 15px;
    display: block;
    margin: auto auto 15px auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border: 1px solid #eeeeee;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); //profundidade
    color: #444;
}


.info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    text-decoration: none;
    height: 40px;
    font-weight: 500;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.whats i {
    font-size: 28px;
    color: white;
}

.whats:hover {
    transform: scale(1.1) rotate(10deg);
}
@media (max-width: 768px) {
    
    .video-wrapper {
        height: 380px !important; 
    }

    
    .hero-text {
        transform: translateY(-15%) !important; 
        padding: 0 10px;

        h1 {
            font-size: 28px !important; 
            margin-bottom: 5px;
        }

        span {
            font-size: 14px !important;
            line-height: 1.2;
        }
    }

    
    .hero {
        margin-top: 0;
        padding: 30px 15px !important;
        height: auto !important; 
        
        .text-principal {
            font-size: 20px !important; 
            margin-bottom: 15px;
            display: block;
        }

        .text-passagem {
            font-size: 14px !important;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .video-wrapper {
        height: 400px !important; 
    }

    .hero-text {
        transform: translateY(-20%) !important; // Sobe o texto no table
    }
}