@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.principal {
    width: 100%;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 411px;
    overflow: hidden;
}

.apresentacao {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
    text-align: center;
    transform: translateY(-15%); //move o texto todo pra cima
}

.hero-text h1 {
    font-size: 58px;
}

.hero-text span {
    font-size: 22px;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

}

.text-principal {
    font-family: "Oswald", serif;
    color: white;
    font-size: 35px;
}

.text-passagem {
    color: white;
    font-size: 18px;
    font-family: "Inria Serif", serif;
}

.sobre2 p {
    color: white;
    font-family: "Inria Serif", serif;
}

.hero {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right,
            /* Direção: da esquerda para a direita */
            #330000 0%,
            /* 1. Início (Esquerda): Quase Preto/Tijolo Escuro */
            #8B0000 35%,
            /* 2. Transição: Vermelho Escuro */
            #8B0000 50%,
            /* 3. Centro: Laranja/Vermelho Vivo (O ponto mais claro) */
            #8B0000 65%,
            /* 4. Transição: Voltando para Vermelho Escuro */
            #330000 100%
            /* 5. Fim (Direita): Quase Preto/Tijolo Escuro */
        );
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.card .card-img-top {
    height: 200px !important;
    object-fit: cover;
}

/* Container do botão */
.info {
     background: linear-gradient(to bottom, 
    #1a1535 0%,    /* Versão bem escura */
    #352b6c 50%,   /* Sua cor original no meio */
    #4a3da1 100%   /* Versão levemente mais clara */
);
    width: fit-content;        
    min-width: 110px;          
    border-radius: 20px;
    margin: 15px auto;         
    padding: 0 15px;           
    display: block;            
}


.info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;               
    color: #ffffff;
    text-decoration: none;
    height: 40px;            
    font-weight: 500;
}